.container {
    display: flex;
    height: 600px;
    width: auto;
    font: italic small-caps 15px/20px Georgia, serif;
}

.sidebar,
.list {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: violet;
}

.sidebarheader {
    font: italic small-caps bold 45px/60px Georgia, serif;
}

form {
    padding: 10px;
    font: italic small-caps bold 20px/35px Georgia, serif;
    border-radius: 4px;
}

input,
select {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    font: italic small-caps 15px/20px Georgia, serif;
}

input[type=text],
select {
    display: inline-block;
    border: 2px solid blueviolet;
    border-radius: 25px;
    box-sizing: border-box;
    color: blueviolet;
}

input[type=submit] {
    background-color: violet;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

input[type=submit]:hover {
    background-color: blueviolet;
    color: violet;
}

.welcome,
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    width: 70%;
    height: 100%;
    color: white;
}

.welcome {
    background-image: url(crystals.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}

.welcomeHeader {
    background-color: violet;
    border-radius: 25px;
    padding: 10px;
}

p {
    background-color: violet;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.wishlistButton:link,
.wishlistButton:visited {
    background-color: blueviolet;
    color: pink;
    font-size: 20px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
}

.wishlistButton:hover,
.wishlistButton:active {
    background-color: violet;
    color: blueviolet;
}

.list {
    font: italic small-caps bold 30px/45px Georgia, serif;
    color: #c3073f;
    padding-right: 30px;
}

a:link,
a:visited {
    color: #c3073f;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    color: #4e4e50;
}

.table {
    padding: 0 100px;
    background-image: url(nightRoad.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
}

table,
th,
td{
    border: 1px solid #c3073f;
    background-color: rgba(111, 34, 50, 0.4);
    color: white;
    margin: 30px;
    padding: 10px;
    text-align: center;
    font-weight: 900;
}